<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Social Network</title>

  <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/stories.css' %}">

</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Social Network</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home.html">Home</a></li>
        <li><a href="profile.html">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- profile brief -->
        <div class="panel panel-default">
          <div class="panel-body" style="text-align: center">

              <!-- stories -->
               <div class="stories-container">
       <div class="content">
        <img src="{% static 'home/img/prof/1.png' %}" alt="" />
      </div><!--
      <div class="content">
        <img src="images/2-thumb.png" alt="" />
      </div>
      <div class="content">
        <img src="images/3-thumb.png" alt="" />
      </div>
      <div class="content">
        <img src="images/4-thumb.png" alt="" />
      </div>
      <div class="content">
        <img src="images/5-thumb.png" alt="" />
      </div>
      <div class="content">
        <img src="images/6-thumb.png" alt="" />
      </div>
      <div class="content">
        <img src="images/7-thumb.png" alt="" />
      </div>
      <div class="content">
        <img src="images/8-thumb.png" alt="" />
      </div> -->
    </div>

              <div class="story-full">
      <div class="content">
        <div class="close-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#fff"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>

        <div class="left-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#fff"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </div>

        <img src="{% static 'home/img/prof/1.png' %}" alt="" />

        <div class="right-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#fff"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </div>

        <div class="title">Test Title</div>
      </div>
    </div>
            <h4>nicholaskajoh</h4>
            <img  src="{% static 'home/img/my_avatar.png' %}" alt="me" style="width: 128px; height: 128px;"/>
          </div>
        </div>
        <!-- ./profile brief -->

        <!-- friend requests -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friend requests</h4>
            <ul>
              <li>
                <a href="#">johndoe</a> 
                <a class="text-success" href="#">[accept]</a> 
                <a class="text-danger" href="#">[decline]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./friend requests -->
      </div>
      <div class="col-md-6">
        <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Make a post...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Post</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->

        <!-- feed -->
        <div>
          <!-- post -->
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Hello people! This is my first FaceClone post. Hurray!!!</p>


            </div>
            <div class="panel-footer">
              <span>posted by <a class="text-success" href="#">qutaiba</a></span>

                <span class="pull-right">
                    <a class="text-danger" href="#">
                        <i class="bi bi-box-arrow-up-right">
                            <img src="{% static 'home/img/box-arrow-up-right.svg' %}" alt="like"/>
                        </i>
                    </a>
                </span>







            </div>
          </div>


          <!-- ./post -->
        </div>
        <!-- ./feed -->
      </div>
      <div class="col-md-3">
      <!-- add friend -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Add friend</h4>
            <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Search ">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Search</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
            <ul>
              <li>
                <a href="#">alberte</a> 
                <a class="text-success" href="#">add</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./add friend -->

        <!-- friends -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friends</h4>
               <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Search ">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Search</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
            <ul>
              <li>
                <a href="#">peterpan</a> 
                <a class="text-danger" href="#">unfriend</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      <li>Social Network - Made by SwAt1563</li>
    </ul>
  </footer>
  <!-- ./footer -->
    <script type="text/javascript" src="{% static 'home/js/stories.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'home/js/script.js' %}"></script>
</body>
</html>