{% extends 'base.html' %}
{% load static %}
{% block title %}
Social Network
{% endblock %}
{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'post/css/comments.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% endblock %}
{% block content %}





  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- profile brief -->
        <div class="panel panel-default">
          <div class="panel-body" style="text-align: center">


            <h4>Create story</h4>

              <div style="position: relative">
            <img  src="{% static 'home/img/my_avatar.png' %}" alt="me" style="width: 128px; height: 128px; border-radius: 100px; border: solid #333333"/>


    <span style="position: absolute; bottom: 0; left:43%;">

  <form id="add_story" action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
      <input  type="file" name="story" id="story_input">
  <label for="story_input" id="story-label">
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16"
style="border: white solid; border-radius: 100px">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg>
  </label>
</form>
                </span>



              </div>

          </div>
        </div>
        <!-- ./profile brief -->

        <!-- friend requests -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friend requests</h4>
            <ul>
              <li>
                <a href="#">johndoe</a> 
                <a class="text-success" href="#">[accept]</a> 
                <a class="text-danger" href="#">[decline]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./friend requests -->
      </div>

      <div class="col-md-6">
             <!-- stories will be included here -->
               <div class="stories-container panel panel-default">

               </div>
              <!-- stories end position-->

              <!-- when click on story -->
              <div class="story-full">
      <div class="content">
        <div class="close-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#fff"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </div>

        <div class="left-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#fff"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 19l-7-7 7-7"
            />
          </svg>
        </div>

        <img src="{% static 'home/img/my_avatar.png' %}" alt="" />

        <div class="right-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="#fff"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </div>

      </div>
    </div>
      <!-- when click on story end -->
        <!-- post form -->
        <form method="post" action="" style="margin-top: 5%">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Make a post...">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Post</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->

        <!-- feed -->
        <div>
          <!-- post -->
              <div class="container" >
<div class="row" >
    <div class="col-md-6 comment">
        <div class="media g-mb-30 media-comment">
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
              <div class="g-mb-15">
                  <h5 class="h5 g-color-gray-dark-v1 mb-0"><a href="#">John Doe</a></h5>
              </div>

              <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus ras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

              <ul class="list-inline d-sm-flex my-0">
                <li class="list-inline-item g-mr-20">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                    178
                  </a>
                </li>
                <li class="list-inline-item g-mr-20">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                    34
                  </a>
                </li>
                <li class="list-inline-item ml-auto">
                  <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="{% url 'post:post' %}">
                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                    Reply
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
</div>









          <!-- ./post -->

            <!-- pagination design start -->
            <div class="panel panel-default" style="margin-top: 2%">
            <div class="panel-body" >
      <div class="col-md-6" id= "mydiv" >

            <div class="blog_bottom_pagination">
              <div class="counter">1</div>
              <button class="paginate left"><i class="fas fa-angle-left">&lt;</i></button>
              <button class="paginate right">
                <i class="fas fa-angle-right">&gt;</i>
              </button>
            </div>


      </div>
            </div>
            </div>
        <!-- pagination design end -->
        </div>

        <!-- ./feed -->
      </div>
      <div class="col-md-3">
      <!-- add friend -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Add friend</h4>
            <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Search ">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Search</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
            <ul>
              <li>
                <a href="#">alberte</a> 
                <a class="text-success" href="#">[add]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./add friend -->

        <!-- friends -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friends</h4>
               <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Search ">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Search</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
            <ul>
              <li>
                <a href="#">peterpan</a> 
                <a class="text-danger" href="#">[unfriend]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./friends -->
      </div>
    </div>


  </main>
  <!-- ./main -->


  <script>

const friendStoryImages = [
  {

    thumbUrl: "{%  static 'home/img/prof/1-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/1.png' %}",

  },

  {
    thumbUrl: "{%  static 'home/img/prof/2-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/2.png' %}",
  },

  {
    thumbUrl: "{%  static 'home/img/prof/3-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/3.png' %}",
  },

  {
    thumbUrl: "{%  static 'home/img/prof/4-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/4.png' %}",
  },

  {
    thumbUrl: "{%  static 'home/img/prof/5-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/5.png' %}",
  },

  {
    thumbUrl: "{%  static 'home/img/prof/6-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/6.png' %}",
  },

  {
    thumbUrl: "{%  static 'home/img/prof/7-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/7.png' %}",
  },

  {
    thumbUrl: "{%  static 'home/img/prof/8-thumb.png' %}",
    imageUrl: "{%  static 'home/img/prof/8.png' %}",
  },
];
  </script>
    <script type="text/javascript" src="{% static 'home/js/stories.js' %}"></script>
  {% endblock %}