{% extends 'base.html' %}
{% load static %}
{% block title %}
Edit Profile
{% endblock %}

{% block content %}

  <!-- main -->
  <main class="container">

      <div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
      <hr>
	<div class="row">


      <!-- edit form column -->
      <div class="col-md-9 personal-info">

        <h3>Personal info</h3>

        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
         {% csrf_token %}

               <!-- left column -->
            <div class="form-group">
      <div class="col-md-3">
        <div class="text-center">
          <img src="{{ response.image }}" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" name='image' class="form-control">
        </div>
      </div>
            </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" name='name' type="text" value="{{ response.name }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Location:</label>
            <div class="col-lg-8">
              <input class="form-control" name='location' type="text" value="{{ response.location }}">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-8" style="text-align: center;">
             <input class="btn btn-success" type="submit" value="Save"/>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>



</main>

{% endblock %}