{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile
{% endblock %}

{% block content %}

  <!-- main -->
  <main class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- mutual friends -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Mutual friends</h4>
             <ul>
              <li>
                <a href="#">peterpan</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./mutual friends -->
      </div>
      <div class="col-md-6">
        <!-- user profile -->
        <div class="media">
          <div class="media-left">
            <img src="{% static 'home/img/my_avatar.png' %}" class="media-object" style="width: 128px; height: 128px;">
          </div>
          <div class="media-body">
            <h2 class="media-heading">nicholaskajoh</h2>
            <p>Location: Nigeria</p>
              <p>

                  <form method="post" action="">
          <div class="input-group">
            <span class="input-group-btn">
              <input class="btn btn-success" type="submit" value="Add">
            </span>
              <input class="btn btn-danger" type="submit" value="Remove">
          </div>
        </form>
              <div class="input-group">
                  <a class="btn btn-block" href="{% url 'user_profile:edit_profile' %}"> Edit Profile </a>
              </div>



              </p>
          </div>
        </div>
        <!-- user profile -->

        <hr>

        <!-- timeline -->
        <div>
          <!-- post -->
          <div class="panel panel-default">
            <div class="panel-body">
              <p>Hello people! This is my first FaceClone post. Hurray!!!</p>
            </div>
            <div class="panel-footer">
              <span>posted by nicholaskajoh</span>
<span class="pull-right">
                    <a class="text-danger" href="{% url 'post:post' %}">
                        <i class="bi bi-box-arrow-up-right">
                            <img src="{% static 'home/img/box-arrow-up-right.svg' %}" alt="like"/>
                        </i>
                    </a>
                </span>            </div>
          </div>
          <!-- ./post -->
        </div>
        <!-- ./timeline -->
      </div>
      <div class="col-md-3">
        <!-- friends -->
        <div class="panel panel-default">
          <div class="panel-body">
            <h4>Friends</h4>
              <!-- post form -->
        <form method="post" action="">
          <div class="input-group">
            <input class="form-control" type="text" name="content" placeholder="Search ">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" name="post">Search</button>
            </span>
          </div>
        </form><hr>
        <!-- ./post form -->
            <ul>
              <li>
                <a href="#">peterpan</a> 
                <a class="text-danger" href="#">[unfriend]</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- ./friends -->
      </div>
    </div>
  </main>
  <!-- ./main -->
{% endblock %}