<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'registration/css/registration.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form id='register_form' action="" method="post">

			<h1>Create Account</h1>
			<div class="social-container">
			</div>

			<input type="text" placeholder="Username" name="username"/>
			<input type="email" placeholder="Email" name="email"/>
			<input type="password" placeholder="Password" name="password"/>
            <input type="password" placeholder="Confirm password" name="password2"/>
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form id='login_form' action="#" method="post">
			<h1>Sign in</h1>
			<div class="social-container">
			</div>
			<input type="text" placeholder="Username" name="username"/>
			<input type="password" placeholder="Password" name="password"/>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'registration/api/register.js' %}"></script>
<script src="{% static 'registration/api/login.js' %}"></script>
<script src="{% static 'registration/js/registration.js' %}"></script>
</body>
</html>